
<head>
  <meta charset="UTF-8">
  <title>Login Page in HTML with CSS Code Example</title>
</head>
<body>

<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Vijay's College</h1>		
		</div>
	</div>
	
	
		<div class="right">
		<h5>Login</h5>
		<p>Don't have a Student account? <a href="#">Creat Your Student Account here</a> </p>
		<div class="inputs">
			<input type="text" placeholder="user name">
			<br>
			<input type="password" placeholder="password">
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>forget password?</p>
		</div>
			
			<br>
			<button>Login</button>
	</div>
	
</div>
<!-- partial -->
  
</body>

